.App {
  margin: 20px;
  width: 420px;
  height: 600px;
  background: white;
  border: 1px solid black;
}

.filter-container{
  background: blueviolet;
  padding: 5px;
}

.table-container{
  background: pink;
  padding:5px;
}

.activity-item {
  padding: 5px 0px 5px 20px;
}