.App {
  margin: 20px;
  width: 420px;
  height: 600px;
  background: white;
  border: 1px solid black;
}

.filter-container{
  padding: 5px;
  height: 30px;
}

.table-container{
  padding:5px;
  overflow: scroll;
  height: 70%;
}

.filter {
  padding: 10px;
}
.filter .selected {
  background: rgb(68, 68, 248);
  color: white;
}
.activity-item{
  position: relative;
  width: 160px;
  height: 100px;
  display: inline-block;
  background:rgb(226, 225, 225);
  margin: 10px;
  text-align: center;
}
.activity-item .percentage{
  position: absolute;
  width: 160px;
  height: 0%;
  background: blue;
  bottom: 0px;
  opacity: 0.5;
}
.activity-item .system-name{
  padding-top: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.filter-title { 
  color: blue;
  text-align: center;
  font-size: 1.2em;
}

.system-filter-textbox{
  margin: 10px;
}